//services
.services {
    .container {
        max-width: 904px;

        @include media-breakpoint-down(md) {
            [class^="col-"] {
                margin-bottom: 1.5rem;
            }
        }


        .row {
            @include media-breakpoint-down(md) {
                justify-content: center;
            }
        }
    }
}

//gallery
.gallery {
    .container {
        [class^="col-"] {
            margin-bottom: 1.7rem;
        }
    }

    &-content {
        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    &-responsive {

        @include media-breakpoint-up(lg) {
            display: none;
        }

        .gallery-media {
            img {
                margin: 0 auto;
            }
        }
    }

    &-block {
        position: relative;

        &:focus,
        &:hover {
            .gallery-text {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    &-text {
        background: rgba($soft-blue, 0.85);
        color: $white;
        line-height: 1.5;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 15px;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        transition: all 0.3s ease-in-out;

        &::before {
            position: absolute;
            font-family: 'icomoon';
            content: '\e902';
            bottom: 5px;
            right: 10px;
        }
    }
}

//testimonial
.testimonial {
    &-slider {
        &__item {
            padding: 1.5rem 0.75rem;
            position: relative;
            max-width: 775px;
            margin: 0 auto;

            @include media-breakpoint-up(md) {
                padding: 1.5rem 1.45rem;

            }

            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                right: 0;
                bottom: 0;
                height: 321px;
                background: $soft-blue;
                z-index: -1;
            }
        }

        .slick {

            &-active {
                button {
                    // border: 1px solid rgba(125, 125, 128, 0.671);

                    &::before {
                        background: $soft-blue;
                        width: 12px;
                        height: 12px;
                    }
                }
            }

            &-track {
                display: flex;
            }

            &-slide {
                height: inherit;
            }
        }
    }
}

//section-contact
.section-contact {
    .form-0 {
        display: flex;
        justify-content: center;
        // align-items: center;
        flex-wrap: wrap;

        .form-group {
            margin-bottom: 0;

            @include media-breakpoint-down(sm) {
                width: 100%;
                margin-bottom: 0.875rem;
            }
        }

        .form-control {
            height: 40px;
            min-width: auto;
            border-radius: 0;
            border: 1px solid $soft-blue;

            @include media-breakpoint-up(md) {
                height: 55px;
                min-width: 383px;
            }
        }

    }

    .btn-wrap {
        .btn-contact {
            background-color: $soft-blue;
            color: $white;
            @include font-size(0.9375rem);
            display: inline-block;
            min-width: auto;
            padding: .325rem 1.5rem;
            height: 100%;
            border: 1px solid transparent;
            transition: all 0.3s ease-in-out;

            @include media-breakpoint-up(md) {
                min-width: 184px;
                padding: .625rem 1.5rem;
            }

            &:focus,
            &:hover {
                text-decoration: none;
                border-color: $soft-blue;
                background-color: $white;
                color: $soft-blue;
            }
        }
    }
}